:root {
    --oliv-dark01: #12140e;
    --oliv-dark02: #30351e;
    --oliv-accent01: #a1ad6c;
    --oliv-accent02: #e9f092;
    --oliv-light01: #d8dabf;
    --oliv-light02: #f4f5e4;
    --oliv-fade01: #12140e70;
    --oliv-fade02: #f4f5e450;
}